__pycache__
.venv/

# Open files
*.csv#
*.xlsx#

# The generated data
mental_healthCleaned.csv
mental_healthRemaining.csv
centers.csv
submission.json

# Images
*.png

# The submissions
submission.json
docs/*.csv